<% content_for(:body_attributes) do %>
  data-turbolinks="false"
<% end %>
<div class="container">
  <div class="row mt-5">
    <h2><%= @end_user.nickname %>さん</h2>
    <%= link_to end_user_followings_path(@end_user.id) do %>フォロー数: <%= @end_user.followings.count %><% end %>
    <%= link_to end_user_followers_path(@end_user.id) do %>フォロワー数: <%= @end_user.followers.count %><% end %>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-md">
      <script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['YOUR_API_KEY'] %>&callback=initMap" async defer></script>
      <div id='map'></div>
      <input id="address" type="textbox" value="東京駅">
      <input type="button" value="Search" onclick="codeAddress()">
      <style>
      #map {
        height: 500px;
        width: 100%;
      }
      </style>

      <script>
        let map
        let geocoder
        let MarkerArray
        const display = document.getElementById('display')
        function initMap(){
          geocoder = new google.maps.Geocoder()
          MarkerArray = new google.maps.MVCArray();

          map = new google.maps.Map(document.getElementById('map'), {
            center: {lat: 35.68123620000001, lng:139.7671248},
            zoom: 10,
          });

          // 保存された地図情報からピンをさす
          <% @posts.each do |posts| %>
            // google.maps.LatLngインスタンスを生成
            (function(){
              // var, let, const
              const contentString = '<%=link_to post_path(posts.id) do %><%= posts.title %><% end %>';
              const infowindow = new google.maps.InfoWindow({
                content: contentString
              });
              const position = new google.maps.LatLng(
                <%= posts.latitude %>,
                <%= posts.longitude %>
              );
              const default_marker = new google.maps.Marker({
                map,
                position,
                title: contentString,
              });
              default_marker.addListener('click', function() {
                infowindow.open(map, default_marker);
              })
            })();
          <% end %>
        }

        function codeAddress(){
          let inputAddress = document.getElementById('address').value;

          geocoder.geocode( { 'address': inputAddress}, function(results, status) {
            $("#post_latitude").val(results[0].geometry.location.lat());
            $("#post_longitude").val(results[0].geometry.location.lng());

            if (status == 'OK') {
              // MarkerArray.forEach(function (marker, idx) { marker.setMap(null); });
              map.setCenter(results[0].geometry.location);
              // MarkerArray.push(marker);
              // display.textContent = "検索結果：" + results[ 0 ].geometry.location
            } else {
              alert('該当する結果がありませんでした：' + status);
            }
          });
        }
      </script>
    </div>
    <div class="col-4">
      <table class="table">
        <thead>
          <tr>
            <th>タイトル</th>
            <th></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% @posts.each do |posts| %>
          <tr>
            <td><%= link_to post_path(posts.id) do %><%= posts.title %><% end %></td>
            <td><%= "コメント数：" %><%= posts.post_comments.count %></td>
            <td>
              <% if posts.end_user == current_end_user %>
              <%= link_to "編集",edit_post_path(posts.id), class: "btn btn-sm btn-primary" %>
              <%= link_to "削除",post_path(posts.id), method: :delete, class: "btn btn-sm btn-danger" %>
              <% end %>
            </td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>