<% content_for(:body_attributes) do %>
  data-turbolinks="false"
<% end %>
新規投稿
<!--<script async defer src="https://maps.googleapis.com/maps/api/js?key=API_KEY&callback=initMap"></script>-->
<h2>gmap</h2>
<%= form_with model: @post,url: posts_path do |f| %>
 <div class="form-group">
   <%= f.label :title, 'タイトル' %>
   <%= f.text_field :title, class: 'form-control' %>
   <%= f.label :explanation, '説明' %>
   <%= f.text_field :explanation, class: 'form-control' %>
   <%= f.label :image, '写真選択' %>
   <%= f.file_field :image, accept: "image/*" %>
   <%= f.hidden_field :latitude %>
   <%= f.hidden_field :longitude %>
   <%= f.hidden_field :address %>
 </div>
 <%= f.submit '投稿する', class: 'btn btn-primary btn-block' %>
 <% end %>

<script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['YOUR_API_KEY'] %>&callback=initMap" async defer></script>

<div id="display">緯度・経度</div>
<div id='map'></div>
<input id="address" type="textbox" value="東京駅">
<input type="button" value="Encode" onclick="codeAddress()">
<style>
#map {
  height: 500px;
  width: 80%;
}
</style>

<script>
let map
let geocoder
let MarkerArray
const display = document.getElementById('display')
function initMap(){
  geocoder = new google.maps.Geocoder()
  MarkerArray = new google.maps.MVCArray();

  map = new google.maps.Map(document.getElementById('map'), {
    center: {lat: 35.68123620000001, lng:139.7671248},
    zoom: 10,
  });

  // marker = new google.maps.Marker({
  //   position:  myLatlng,
  //   draggable: true,
  //   map: map
  // });
}

function codeAddress(){
  let inputAddress = document.getElementById('address').value;

  geocoder.geocode( { 'address': inputAddress}, function(results, status) {
    $("#post_latitude").val(results[0].geometry.location.lat());
    $("#post_longitude").val(results[0].geometry.location.lng());

    if (status == 'OK') {
       MarkerArray.forEach(function (marker, idx) { marker.setMap(null); });
      map.setCenter(results[0].geometry.location);

      var marker = new google.maps.Marker({
          map: map,
          draggable: false,
          position: results[0].geometry.location
      });
      MarkerArray.push(marker);
      display.textContent = "検索結果：" + results[ 0 ].geometry.location
    } else {
      alert('該当する結果がありませんでした：' + status);
    }
  });
}
</script>