<div class="container">
  <%= flash[:notice] %>
  <div class="row mt-5">
    <div class="col">
    <h3>投稿詳細</h3>
    </div>
    <div class="col">
      <div class="d-flex justify-content-around">
         <%= render 'public/favorites/like', post: @post %>
         <% if @post.end_user == current_end_user %>
            <p><%= link_to "投稿を編集",edit_post_path(@post.id), class: "btn btn-outline-info" %></p>
            <p><%= link_to "投稿を削除",post_path(@post.id), method: :delete, class: "btn btn-outline-danger" %></p>
          <% end %>
          <% unless @post.end_user == current_end_user %>
          <% if current_end_user.following?(@post.end_user) %>
            <p><%= link_to "フォロー外す", end_user_relationships_path(@post.end_user.id), method: :delete, class: "btn btn-outline-warning" %></p>
          <% else %>
            <p><%= link_to "フォローする", end_user_relationships_path(@post.end_user.id), method: :post, class: "btn btn-outline-warning" %></p>
          <% end %>
          <% end %>
      </div>
    </div>
  </div>
  <div class="row mt-5">
    <div class="col-7">
      <%= image_tag @post.get_image(500,500) %>
    </div>
    <div class="col-5">
      <table class="posts-show" width="600">
        <thead>
          <tr>
            <th>投稿者</th>
            <td>
              <%= link_to end_user_path(@post.end_user.id) do %><%= @post.end_user.nickname %>さん<% end %>
            </td>
            <td></td>
          </tr>
          <tr>
            <th>タイトル</th>
            <td><%= @post.title %></td>
            <td></td>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th>説明</th>
            <td><%= @post.explanation %></td>
          </tr>
          <tr>
            <th>コメント件数：<%= @post.post_comments.count %></th>
            <td>
              <% @post.post_comments.each do |post_comment| %>
            </td>
          </tr>
          <tr>
            <th>
              <%= post_comment.created_at.strftime('%Y/%m/%d') %>
              <%= post_comment.end_user.nickname %>
            </th>
            <td>
              <%= post_comment.comment %>
              <% if post_comment.end_user == current_end_user %>
            </td>
            <td>
              <%= link_to "削除", post_post_comment_path(post_comment.post, post_comment), method: :delete, class: "btn btn-sm btn-outline-danger" %>
            </td>
          </tr>
          <% end %>
          <% end %>
        </tbody>
      </table>
      <div>
        <%= form_with model: [@post, @post_comment] do |f| %>
          <%= f.text_area :comment, rows: '2', placeholder: "1〜50字", class: 'form-control' %>
          <%= f.submit "送信する", class: 'form-control' %>
        <% end %>
      </div>
    </div>
  </div>
</div>