<div class="container">
  <%= flash[:notice] %>
  <div class="row mt-5">
    <h3>投稿詳細</h3>
  </div>
  <div class="row mt-5">
    <div class="col-6">
      <%= image_tag @post.get_image(500,500) %>
    </div>
    <div class="col-6">
      <table class="table">
        <thead>
          <tr>
            <th>
              <% if @post.favorited_by?(current_end_user) %>
              <p>
                <%= link_to post_favorites_path(@post), method: :delete do %>
                  ♥<%= @post.favorites.count %> いいね
                <% end %>
              </p>
              <% else %>
              <p>
                <%= link_to post_favorites_path(@post), method: :post do %>
                  ♡<%= @post.favorites.count %> いいね
                <% end %>
              </p>
            <% end %>
            </th>
            <td></td>
          </tr>
          <tr>
            <th>タイトル</th>
            <td><%= @post.title %></td>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th>説明</th>
            <td><%= @post.explanation %></td>
          </tr>
          <tr>
            <th>コメント件数：<%= @post.post_comments.count %></th>
            <td>
              <% @post.post_comments.each do |post_comment| %>
            </td>
          </tr>
          <tr>
            <th>
              <%= post_comment.created_at.strftime('%Y/%m/%d') %>
              <%= post_comment.end_user.nickname %>
            </th>
            <td>
              <%= post_comment.comment %>
              <% if post_comment.end_user == current_end_user %>
              <%= link_to "削除", post_post_comment_path(post_comment.post, post_comment), method: :delete, class: "btn btn-sm btn-danger" %>
              <% end %>
            </td>
          </tr>
          <% end %>
        </tbody>
      </table>
      <div>
        <%= form_with model: [@post, @post_comment] do |f| %>
          <%= f.text_area :comment, rows: '5', placeholder: "1〜100字" %>
          <%= f.submit "送信する" %>
        <% end %>
      </div>
    </div>
  </div>
</div>